/*=============== CONTACT ===============*/
.contact{
   &__container{
      padding-bottom: 4rem;
   }
   &__button{
      justify-self: center;
   }
   &__page{
      padding-block: 1rem 4rem;
   }
   &__form{
      position: relative;
   }
   &__box{
      position: relative;
      width: 100%;
      height: 58px;
   }
   &__input{
      width: 100%;
      height: 100%;
      background-color: var(--body-color);
      border: 3px solid var(--text-color-light);
      padding: .5rem 1.5rem;
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
      transition: border-color .4s, background-color .4s;

      &:focus{
         border-color: var(--title-color);
      }
      &:-webkit-autofill{
         transition: background-color 6000s, color 6000s;
      }
   }
   &__label{
      position: absolute;
      top: -16px;
      left: 16px;
      font-size: var(--small-font-size);
      font-weight: var(--font-semi-bold);
      color: var(--title-color);
      background-color: var(--body-color);
      padding: 8px;
      transition: background-color .4s; /* for dark mode */
   }
   &__area{
      height: 10rem;

      & textarea{
         resize: none;
         padding-top: 1.25rem;
      }
   }
   &__send{
      padding-block: 1.25rem;
      cursor: pointer;
   }
   &__message{
      position: absolute;
      bottom: -2rem;
      left: 0;
      font-size: var(--small-font-size);
      font-weight: var(--font-semi-bold);
      color: var(--title-color);
   }
}